main {
  min-height: 80vh;
  background: black;
  background-color: #000000;
  margin-top: 65px;


}


.form-control{
  border: none;
  border-radius: 0;
}
.btn.searchbtn{
  border-radius: 0;
}

@media only screen and (max-width: 991px) {

.PCarousel{
  width: 100%;

}
  .bg-primary {
    --bs-bg-opacity: 0;
.KItem{
  width: 100%;
  background-color: #000000;
}

}
a.NavInsta{
  text-align: center;
  padding: 0;
  margin: 0;

}


}
.pagination{
 display: flex;
 text-align: center;
 justify-content: center;
 border-radius: 0;

}
.page-item:first-child .page-link{
  border-radius: 0;
}
.page-item:last-child .page-link{
  border: none;
  border-radius: 0;
}
.page-link.active, .active > .page-link{
  background-color: #000000;
   border-radius: 0;
 border: none;
}
.page-link{
  background-color: #f3f3f3;
  display: inline;
  border: none;
  border-radius: 0;
  background-color: #ffffff;
}



img.card-img-top{
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0;
}



@media only screen and (min-width: 991px) {
  .PCarousel{
    width: 50%;
  }

    .bg-primary {
      --bs-bg-opacity: 0;
  .KItem{
    width: 100%;
    background-color: #000000;
  }
  }
  a.NavInsta{
    text-align: center;
    padding: 0;
    margin: 0;
  
  }
  
  }




.bg-primary {
  --bs-bg-opacity: 0;

.KItem{
background-color: #000000;
}
}


.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #d1cfcf;
  padding: 10px;
  border: 1px solid #ffffff;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.nav-link{
color: #ffffff;
}
.navbar-brand {
  color: #ffffff;
}
.navbar{
  background-color: #000000;
  background: #000000;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
.dropdown-menu.show{
  background-color: #000000;
  color: #ffffff;
}

footer {
  background: #000000;
}
p{
  color: #ffffff;
}
p{
  color: #ffffff;
}
navbar-toggler {
  color: #ffffff;
  
}
/* .card{
  background-color: #cfcfcf;
  @media (max-width: 600px){
    width: 13rem;

  }
} */
label.form-label{
  color: #ffffff;
}
h1{
  color: #ffffff;
}
.carousel{
  margin-top: 21px;
  background-color: #000000;
}

.list-group-item{
  color: #ffffff;
  background-color: #000000;
  background: #000000;
}

ul.instLink{
  text-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.RowInsta{
  text-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

#impressumText{
  color: #ffffff;
  padding-top: 30px;
}
.carousel-control-next-icon{
  fill: black

}

.navbar-toggler-icon{
  fill: white;
  color: white;
}



/* .card.card{
  box-shadow: 0 0 10px #f6f5f7, 0 0 15px #c4c4c4, 0 0 15px #eae9eb inset;
}
.card.card:hover{
  box-shadow: 0 0 10px #ffffff, 0 0 15px #f8f7f8, 0 0 15px #f3f1f5 inset;
  } */


button.click{
  border: none;
  background-color: #440f6e;
  box-shadow: 0 0 5px #440f6e;
}
button.click:hover{
  background-color: #582185;
  box-shadow: 0 0 5px #440f6e, 0 0 5px #440f6e, 0 0 5px #440f6e inset;
  
}
button.click:hover:active{
  background-color: #5e2b88;
  box-shadow: 0 0 10px #5a2685, 0 0 10px #5a2685, 0 0 10px #5c2986 inset;
}
button.click:after{
  background-color: #440f6e;
  box-shadow: 0 0 5px #440f6e;
}


