main {
  min-height: 80vh;
  background: black;
  background-color: #000000;
  margin-top: 65px;
}


@media only screen and (max-width: 991px) {

a.NavInsta{
display: block;
position: absolute;
margin-left: 150px;
}

}



.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #d1cfcf;
  padding: 10px;
  border: 1px solid #ffffff;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.nav-link{
color: #ffffff;
}
.navbar-brand {
  color: #ffffff;
}
.navbar{
  background-color: #000000;
  background: #000000;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
.dropdown-menu.show{
  background-color: #000000;
  color: #ffffff;
}

footer {
  background: #000000;
}
p{
  color: #ffffff;
}
p{
  color: #ffffff;
}
navbar-toggler {
  color: #ffffff;
  
}
.card{
  background-color: #cfcfcf;
}
label.form-label{
  color: #ffffff;
}
h1{
  color: #ffffff;
}
.carousel{
  margin-top: 21px;
}

.list-group-item{
  color: #ffffff;
  background-color: #000000;
  background: #000000;
}

ul.instLink{
  text-align: center;
  padding: 0;
  margin: 0;
}

div.row{
  color: #ffffff;
  padding-top: 30px;
}
